<router-outlet></router-outlet>
<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="../assets/images/user1.png" class="online" alt="" />
          <p>Anonymous User</p>
        </div>
      </div>
      <div id="search">
        <p>
          <small><i class="fa fa-list" aria-hidden="true"></i></small>&nbsp;
          Available Questionnaires
        </p>
      </div>
      <div id="contacts">
        <ul *ngIf="questionnaires">
          <li class="contact" *ngFor="let qs of questionnaires"
           (click)="switchQS(qs)" [class.active]="selectedQS.pk == qs.pk">
            <div class="wrap">
              <!-- <span class="contact-status online"></span> -->
              <!-- <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" /> -->
              <div class="meta">
                <p class="name">{{ qs.name }}</p>
                <p class="preview">
                  <small>
                    <i class="fa fa-clock-o"></i>&nbsp;
                    {{ qs.created_at | date: 'dd-MMM-yy H:mm' }}
                  </small>
                  <small class="author">
                    <i class="fa fa-user"></i>&nbsp;
                    {{ qs.author.username }}
                  </small>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="bottom-bar">
        <button id="settings" title="Just a placeholder">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
          <span>Settings</span>
        </button>
      </div>
    </div>
    <div class="content">
      <div class="qs-header" *ngIf="okeys(selectedQS).length > 0">
        <p class="title">{{ selectedQS.name }}</p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true" title="Facebook placeholder"></i>
          <i class="fa fa-twitter" aria-hidden="true" title="Twitter placeholder"></i>
          <i class="fa fa-instagram" aria-hidden="true" title="Instagram placeholder"></i>
        </div>
      </div>
      <div class="messages" *ngIf="okeys(selectedQS).length > 0">
        <ul>
          <li *ngFor="let item of interaction"
            [class.sent]="item.type == 'sent'"
            [class.replies]="item.type == 'replies'">
            <p>{{ item.text }}</p>
          </li>
          <!-- <li class="replies" *ngIf="selectedQS.qtree">
            <p>{{ selectedQS.qtree.question || selectedQS.qtree.statement }}</p>
          </li> -->
          <!-- <li class="sent">
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>What are you talking about? You do what they say or they shoot you.</p>
          </li>
          <li class="replies">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a
              hundred and forty six other things.</p>
          </li> -->
        </ul>
      </div>
      <div class="message-input" *ngIf="okeys(selectedQS).length > 0">
        <div class="wrap" *ngIf="selectedQS.qtree && selectedQS.qtree.answers">
          <p class="answer" *ngFor="let token of okeys(selectedQS.qtree.answers)"
            (click)="askQuestion(token)">
            {{ selectedQS.qtree.answers[token] }}
          </p>
        </div>
        <div class="wrap" *ngIf="selectedQS.qtree && selectedQS.qtree.statement">
          <p class="statement">
            Conversation has been completed.
            <a href="#" (click)="switchQS(selectedQS, true)">Click to Restart.</a>
          </p>
          <p class="logged" *ngIf="interactionLogged">Interaction has been logged on server console.</p>
        </div>
      </div>
      <div class="no-message" *ngIf="okeys(selectedQS).length == 0">
        <i class="fa fa-comments fa-5x"></i>&nbsp;
        <p>
          Select a questionnaire on left to interact.
        </p>
      </div>
    </div>
  </div>
</body>